<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">  <!--setting th:errors tells thymeleaf to insert any error messsages related to the name field of event into the p tag.-->
        </label>  <!-- We add class="error" to allow us to style this element.  make sure your styles.css is included in the head frag of your fragments html or stylesheet won't load.-->
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>